DISCORD_BOT_TOKEN=MTQzMDQ4MjMzNzMyOTcwOTA2Ng.G70K1h.67gT7iw9T7Oa4mu6WZJpoJjn5kIMSd0JeSrUjI
BOT_OWNER_ID=994324187193807039
ROBLOX_API_KEY=bZX1fjNU40G1cvkHzUT+uovjL/q4rGSLQgM0Ju54s3ZCZhxyZXlKaGJHY2lPaUpTVXpJMU5pSXNJbXRwWkNJNkluTnBaeTB5TURJeExUQTNMVEV6VkRFNE9qVXhPalE1V2lJc0luUjVjQ0k2SWtwWFZDSjkuZXlKaGRXUWlPaUpTYjJKc2IzaEpiblJsY201aGJDSXNJbWx6Y3lJNklrTnNiM1ZrUVhWMGFHVnVkR2xqWVhScGIyNVRaWEoyYVdObElpd2lZbUZ6WlVGd2FVdGxlU0k2SW1KYVdERm1hazVWTkRCSE1XTjJhMGg2VlZRcmRXOTJha3d2Y1RSeVIxTk1VV2ROTUVwMU5UUnpNMXBEV21oNGVTSXNJbTkzYm1WeVNXUWlPaUl4TVRZMU1URTJNVEF3SWl3aVpYaHdJam94TnpZeE1USTVOVEU0TENKcFlYUWlPakUzTmpFeE1qVTVNVGdzSW01aVppSTZNVGMyTVRFeU5Ua3hPSDAuTHY4UUlGM0V2WXdWeVJ4WFlBZDNOMTNLbzZDYmdPTDhnb3NzaWNXV2lWWEs1aEZPM1Z1S3RlN21Rd1U4VkxQWGhSdTNqQUVYM2dmYlhHTHRDenRTMGtVM0U0by1sRDRzTmwzeUVvdGc0Rl9UYmF4b0JLeWJNY3pVRGVVdDJGZVNsQWhrQzJmWDJQaWJrWTZpSnl1cXZOR0lLdGpUTDNVUTdRVzRmeWRUTXMyMW16X0JoS3RiWTBZQXNZeUhKTHE3Wk85VDdBTldtTDVoRU1YX2wzS09KbUl0Zkszc2pmb2txdFFscFJseDBTYTNJNUZ2emo3aXN3OTJMT3F1MmNFVW5ObER5c1dncnp4VmUySjBQYWZIdF8tNHlScmMzNEtWWEZkSXlHbEhQQVZ2aG9EdVRYNTVPamVoMXFJVG1aME41bzhNa2pkZDV4Y2luWDd6c3BSVzBB
ROBLOX_UNIVERSE_ID=6885329496
INTERNAL_SECRET_KEY=hhyI*YG^6774ei0

ROBLOX_DATASTORE_NAME="TaurusGlobalBans"
